.text-input {
    height: 25px;
    max-width: 60px;
}

.invalid-input {
    border: 1px red;
}

.badge-1 {
    font-size: large;
    width: 150px;
    height: 40px;
    padding-top:10px;
  }
  
  .badge-2 {
    font-size: large;
    width: 150px;
    height: 40px;  
    padding-top:10px;
  }

  .badge-3 {
    font-size: large;
    width: 300px;
    height: 52px;  
    padding-top:10px;
  }
  