<div style="margin-bottom: 25px;">
    <mdb-card cascade="true" narrower="true" style="background-color: rgba(234, 245, 250, 0.815);">
        <!--Card header-->
        <div class="gradient-card-header blue-gradient py-2 mx-4 mb-3 text-center">

            <h6 style="color: white;">Checkout Confirmation</h6>

        </div>
        <!--/Card header-->
        <h6 class="text-center" style="color: rgb(2, 15, 90);margin-bottom: 20px; margin-top: 10px;">Thank you! Your order
            submitted successfully!</h6>
        <p class="text-center" style="color:  rgb(2, 90, 90);margin-bottom: 20px;">You will be redirected to Home Page in
            {{counter}} seconds</p>
        <div class="row">
            <div class="col-md-8 col-10 offset-md-2 offset-1">
                <table class="table table-striped table-bordered table-responsive-xs btn-table"
                    style="margin-bottom: 40px;">

                    <thead>
                        <tr>
                            <th colspan="2" style="font-size: medium; font-weight: bold; color: teal;">Shipping
                                Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="font-weight: bold;">Name</td>
                            <td style="font-size: medium">{{user.firstName}} {{user.lastName}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Address</td>
                            <td style="font-size: medium">{{user.address}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">E-Mail</td>
                            <td style="font-size: medium">{{user.email}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Mobile</td>
                            <td style="font-size: medium">{{user.mobile}}</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2" style="font-size: medium; font-weight: bold; color: teal;">Delivery
                                Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="font-weight: bold;">Total</td>
                            <td style="font-size: medium">{{totalPayment}} $</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Date</td>
                            <td style="font-size: medium">{{deliverDate | date:'medium'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mdb-card>
</div>